# Ques 01

In [11]:
total=0
sum=1
while sum<=7:
    total=total+sum
    sum=sum+1
print(total)

28

In [14]:
sara_age=65
fatima_age=57
mark_age=45
average_age=(sara_age +fatima_age +mark_age)/3
print (average_age)

55.666666666666664

In [15]:
print(2**20)

1048576

In [16]:
print(4356/61)

71.40983606557377

In [18]:
print(4356%61)

25

# Ques 2

In [24]:
s1='-'
s2='+'
print(s1+s2)
print(2*s1+s2)
print(s2+2*s1+s2+2*s1)
print(s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2)

-+
--+
+--+--
+--+--+--+--+--+--+--+--+

# Ques 03

In [27]:
s="abcdefghijklmnopqrstuvwxyz"
print(s[0],s[2],s[25],s[24],s[16])

a c z y q

# Ques 04

In [49]:
s='goodbye'
if s[0]==s[0]:
    print(True)
if s[1]==s[6]:
    print(True)
else:
    print(False)

True
False


# Ques 05

In [12]:
a=6
b=7
c=(a+b)/2
print(c)
x=(' john')
y=( ' fitzgerald')
z=( ' kennedy')
g=x+y+z
print(g)
print(x<y<z)

6.5
 john fitzgerald kennedy
False

# Ques 06

In [5]:
print(17-9<10)
inventory=['paper','staples','pencil']
fullname=['john fitzgeral kennedy']
print(len(inventory)>5*(len(fullname)))
a=6
b=7
c=(a+b)/2
print(c<24)
print(a<6.75<b)

True
False
True
True

In [9]:
a=('adcsd')
len(a)

5

In [ ]:
flower=[rose,bougainvillea,yuggra,marigold,daylilly,lilly of the valley]