# Ques 01

In [11]:
total=0
sum=1
while sum<=7:
    total=total+sum
    sum=sum+1
print(total)

28

In [14]:
sara_age=65
fatima_age=57
mark_age=45
average_age=(sara_age +fatima_age +mark_age)/3
print (average_age)

55.666666666666664

In [15]:
print(2**20)

1048576

In [16]:
print(4356/61)

71.40983606557377

In [18]:
print(4356%61)

25

# Ques 2

In [24]:
s1='-'
s2='+'
print(s1+s2)
print(2*s1+s2)
print(s2+2*s1+s2+2*s1)
print(s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2+2*s1+s2)

-+
--+
+--+--
+--+--+--+--+--+--+--+--+

# Ques 03

In [27]:
s="abcdefghijklmnopqrstuvwxyz"
print(s[0],s[2],s[25],s[24],s[16])

a c z y q

# Ques 04

In [49]:
s='goodbye'
if s[0]==s[0]:
    print(True)
if s[1]==s[6]:
    print(True)
else:
    print(False)

True
False


# Ques 05

In [12]:
a=6
b=7
c=(a+b)/2
print(c)
x=(' john')
y=( ' fitzgerald')
z=( ' kennedy')
g=x+y+z
print(g)
print(x<y<z)

6.5
 john fitzgerald kennedy
False

# Ques 06

In [5]:
print(17-9<10)
inventory=['paper','staples','pencil']
fullname=['john fitzgeral kennedy']
print(len(inventory)>5*(len(fullname)))
a=6
b=7
c=(a+b)/2
print(c<24)
print(a<6.75<b)

True
False
True
True

In [9]:
a=('adcsd')
len(a)

5

# Ques 07

In [21]:
flower=['rose','bougainvillea','yuggra','marigold','daylilly','lilly of the valley']
thorny=['rose','bougainvillea','yuggra']
poinuous=['lilly of the valley']
if 'potato' in flower:
    print(True)
else:
    print(False)
dangerous=thorny+poinuous
print(dangerous)

False
['rose', 'bougainvillea', 'yuggra', 'lilly of the valley']

In [35]:
for t in range (1,101):
    if t>1:
        for i in range(2,t):
            if t%i==0:
                break
        else:
            print(t)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [36]:
for t in range (1,100):
    if t%2==0:
        print(t)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [47]:
x=0
y=1
while y<11:
    x=x+y
    y=y+1
print(x)

55

In [48]:
monthsL = ['jan','feb','mar','may']
monthsT = ('jan', 'feb','mar','may')
monthsL.sort(reverse= True)
print(monthsL)
monthsT.sort(reverse= True)
print(monthsT)

['may', 'mar', 'jan', 'feb']

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
import math
r=10
X=0
Y=0
a= math.sqrt((0-0)**2 + (0-0)**2)
if a<r:
    print('hit')
else:
    print('miss')

In [ ]:
b= math.sqrt((10-0)**2 + (10-0)**2)
if b<r:
    print('hit')
else:
    print('miss')

In [ ]:
c= math.sqrt((6-0)**2 + (6-0)**2)
if c<r:
    print('hit')
else:
    print('miss')

In [ ]:
d= math.sqrt((8-0)**2 + (7-0)**2)
if d<r:
    print('hit')
else:
    print('miss')

In [ ]:
from math import sin
from math import pi
#a) 16 feet and 75 degree 
height = 16 * sin(pi * (75/180))
print("answer a)" + str(height))
#b) 20 feet and 0 degree
height = 20 * sin(pi * (0/180))
print("answer b)" + str(height))
#c) 24 feet and 45 degree
height = 24 * sin(pi* (45/180))
print("answer c)" + str(height))
#d) 24 feet and 80 degree
height = 24 * sin(pi *(80/180))
print("answer d)" + str(height))

In [49]:
lst = [2, 5, 7, 10, 8, 9, 12]
#a) index of middle element
mid_index = int(len(lst)/2)
print(mid_index)
#b) middle element of list 
print("middle element of the list is:" + str(lst[3]))
#c) sorting list in descending order
lst.sort(reverse= True)
print(lst)
#d) remove and extend
lst.remove(12)
lst.extend([12])
print(lst)

3
middle element of the list is:10
[12, 10, 9, 8, 7, 5, 2]
[10, 9, 8, 7, 5, 2, 12]