In [7]:
x=int(input("enter any no"))
for t in range(1,11):
    y=x*t
    print(x,"*",t,"=",y)

enter any no2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [14]:
x=2
for t in range(1,21,):
    if t%x==0:
        print(t)

2
4
6
8
10
12
14
16
18
20

In [26]:
def fun(x):
    return 3 * x
a=fun(3)
print(a)

9

In [140]:
def f(y):
        return y%2=0
x=4
print (x)

SyntaxError: invalid syntax (<ipython-input-140-a997bad5b507>, line 2)

In [39]:
def f(x,y):
    return x/y
a=f(5,2)
print (a)

2.5

In [46]:
x=("Muteeb")
y=x[2:]
a=y[-2]
print (y)
print(a)

teeb
e

In [55]:
for i in range(1,101):
    x=0
    for j in range(1,i+1):
       
        if i%j==0:
             x=x+1
    if x==2:
        print (i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [60]:
x=2
y=4
if x<y:
    print("yes")
else:
    print("no")
type(x)

yes

int

In [75]:
x=[1,'apple',5,'Muteeb']
x.append('shera')
x.insert(3,'Abdul')
print(x)
print(x[3])
x[0]='rahim'
print(x)
print(x[-4:-2])
print(len(x))

[1, 'apple', 5, 'Abdul', 'Muteeb', 'shera']
Abdul
['rahim', 'apple', 5, 'Abdul', 'Muteeb', 'shera']
[5, 'Abdul']
6

In [79]:
x=[1,2,3]
x.append("abdul")
print(x)

[1, 2, 3, 'abdul']

In [81]:
x=2
a=5
y=x*x + a*a
print(y)

29

In [90]:
x=['Abdul','Muteeb','Shera']
x.append('Rahim')
print(x)
x.insert(0,'Wahaj')
print(x)
print(x[2:])
print(type(x))
print(len(x))

['Abdul', 'Muteeb', 'Shera', 'Rahim']
['Wahaj', 'Abdul', 'Muteeb', 'Shera', 'Rahim']
['Muteeb', 'Shera', 'Rahim']
<class 'list'>
5

In [104]:
x=2
for t in range(1,100):
        if t%x==0:
            
            print()

In [105]:
x=['Abdul','Muteeb ','Shera']

In [100]:
x=2
for t in range (1,101):
    if t%x==0:
        print (t)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [109]:
from math 
for t in range (1,100):
    if t is odd:
        print(t)

SyntaxError: invalid syntax (<ipython-input-109-a2fd30e151a8>, line 1)

In [110]:
for t in range (1,101):
    if t%2!=0:
        print (t)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [123]:
x=2
y=2
print(x!=y)

False

In [171]:
for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print (i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [173]:
x=("Muteeb")
for y in x:
    print(y)

M
u
t
e
e
b

In [179]:
x=input("enter any phrase")
for y in x:
    if y in ('aeiouAEIOU'):
        print(y)

enter any phraseabdul muteeb shera
a
u
u
e
e
e
a

In [3]:
for x in range(1,101):
    if x>1:
        for y in range(2,x):
            if x%y==0:
                break
        else:
            print(x)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
for i in range(1,101):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print (i)

In [14]:
def f(x):
    if x%2==0:
        print ('even')
    else:
        print('odd')
print(f(6))

even
None

In [ ]:
from math import sin